<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-lightbulb fa-5x"></i> -->
    <img src="/images/thought-01.png" alt="thoughts and idea" width="140" />
    <h1 class="display-3">Ideas</h1>
    <p class="subtitle">Share your thoughts and ideas anonymously!</p>
    <hr>

      <% userWithSecrets.forEach(function(user){%>
      <div class="secret-container">
        <p class="secret-text"><%=user.secret%></p>
      </div>
      <% }) %>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
