
body {
  background-color: #E8ECEF;
}

h1 {
  font-size: 2rem;
}

.subtitle {
  color: #154360;
  font-size: 2rem;
}

.centered {
    /* padding-top: 200px; */
    padding-top: auto;
    text-align: center;
}

.secret-container {
  display: inline-flex;
  justify-content: center;
  margin: 20px;
  position: relative;
  text-align: center;
}

.secret-text {
  /* text-align: center; */
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  position: relative;

}
